<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h3>Login</h3>
        </div>
        <div class="card-body">
            <form (submit)="onSubmit()">
                <div class="mb-3">
                    <label for="username" class="form-label">Username:</label>
                    <input type="text" id="username" [(ngModel)]="username" name="username" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password:</label>
                    <input type="password" id="password" [(ngModel)]="password" name="password" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                <div *ngIf="loginError" class="alert alert-danger mt-3">
                    Incorrect username or password. Please try again.
                </div>
            </form>
        </div>
    </div>
</div>
  